# npm
node_modules/

# Vitepress
docs/.vitepress/dist
docs/.vitepress/cache

# vscode
.vscode

.draft

# eclipse
eclipse
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode
.vscode

# gradle
build
.gradle

# other
bin
run
.architectury-transformer

# Files from Forge MDK
forge*changelog.txt
